<h4>تعديل متبرع</h4>

<form>
        <div class="row justify-content-md-center">
            <div class="form-group col-md-6">
                <label for="" class="">اسم المتبرع</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">اللقب</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">التليفون</label>
                <input type="number" class="form-control">
            </div>

            <div class="form-group col-md-3">
                <label for="" class="">المحافظة</label>
                <select id="govern" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">المركز</label>
                <select id="centers" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">النوع</label>
                <select class="form-control"></select>
            </div>

            <div class="form-group col-md-3">
                <label for="" class="">الوظيفة</label>
                <input type="text" class="form-control">
            </div>


            <div class="form-group col-md-3">
                <label for="" class="">وسيلة الاتصال</label>
                <select id="centers" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">متبرع</label>
                <select id="centers" class="form-control"></select>
            </div>
            <div class="form-group col-md-3">
                <label for="" class="">تكرار التبرع</label>
                <select id="centers" class="form-control"></select>
            </div>
            <div class="form-group col-md-6">
                <label for="" class="">العنوان</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label for="" class="">الشركة</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label for="" class="">البريد الالكترونى <span style="color:red">(هام للتواصل)</span></label>
                <input type="text" class="form-control">

            </div>
            <div class="form-group col-md-6">
                <label for="" class="">ملاحظات</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row justify-content-end">
            <button id="saveDonor" class="btn btn-success  col-md-2 form-group " type="submit">
                حفظ
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button id="cancelSave" class="btn btn-danger col-md-2 form-group" data-dismiss="modal" type="reset">
                الغاء
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>

</form>