body.m-aside-left--skin-dark .m-header .m-header-head {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f2f3f8;
}

.m-brand.m-brand--skin-dark {
    background: #00a4e4;
    
}
body {
    font-family :  'Roboto-Medium' , 'Tajawal-Medium';
}

@font-face {
    font-family: 'Tajawal-Medium';
    src: url('../../../../fonts/Tajawal/Tajawal-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../../../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}
.form-control , .btn {
    font-family: 'Roboto-Medium' , 'Tajawal-Medium';

}

.m-demo .m-demo__preview {
    background: NONE;
    border: NONE;
    padding: 0px;
}

.m-demo {
    background: none;
    margin-bottom: 0px;
}


.m-form .m-form__group {
    padding-top: 0;
}

.m-btn--pill {
    padding: 0.85rem 2.15rem;
}



.m-checkbox>span:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text
{
    font-family:inherit;
}

.btn.btn-outline-accent {
    color: #00c5dc;
}

.m-btn--icon.m-btn--icon-only {
    width: 22px;
    height: 20px;
}

.m-btn--icon.m-btn--icon-only [class^="flaticon-"], .m-btn--icon.m-btn--icon-only [class*=" flaticon-"] {
    font-size: 1.0rem;
}


.m-body .m-content {
     padding: 0  30px;
}

.dataTables_scrollBody {
    height: 300px !important
}

.m-accordion__item-content > p 
{
    font-size:18px;
}


.m-radio, .m-checkbox {
    padding-left: 30px;
}

.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left] {
    top: -.4375em;
    left: -2.0635em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 3.75em 3.75em;
    transform-origin: 3.75em 3.75em;
    border-radius: 7.5em 0 0 7.5em;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip] {
    top: 2.875em;
    left: .875em;
    width: 1.5625em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: .3125em;
    border-radius: .125em;
    background-color: #a5dc86;
}

.swal2-animate-success-icon .swal2-success-line-tip {
    -webkit-animation: swal2-animate-success-line-tip .75s;
    animation: swal2-animate-success-line-tip .75s;
}

.swal2-icon.swal2-success [class^=swal2-success-line][class$=long] {
    top: 2.375em;
    right: .5em;
    width: 2.9375em;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.swal2-icon.swal2-success [class^=swal2-success-line] {
    display: block;
    position: absolute;
    z-index: 2;
    height: .3125em;
    border-radius: .125em;
    background-color: #a5dc86;
}

.swal2-animate-success-icon .swal2-success-line-long {
    -webkit-animation: swal2-animate-success-line-long .75s;
    animation: swal2-animate-success-line-long .75s;
}