@model ECBNewWeb.Models.DonationData
@{
    ViewBag.Title = "addApproveReceipt";
    Layout = "~/Views/Shared/_LayoutShefaa2.cshtml";
}
<style>
    #btn_searchbtsite {
        margin-top: 6px;
}

.dataTables_wrapper .dataTable .selected th, .dataTables_wrapper .dataTable .selected td {
    background-color: #00a4e4;
    color: #ffffff;
}
</style>
<link href="~/Content/css/bootstrap-glyphicons.min.css" rel="stylesheet" />
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="~/Content/assets/vendors/custom/datatables/datatables.bundle.rtl.css" rel="stylesheet" />
<link href="~/Content/assets/demo/default/base/select.dataTables.min.css" rel="stylesheet" />



<main class="page-content">
    <div class="container-fluid">
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tabs">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h5 class="m-portlet__head-text">
                                        اضافة توريدات
                                    </h5>
                                </div>
                            </div>
                            <div class="m-portlet__head-tools">
                                <ul class="m-portlet__nav">
                                    <li class="m-portlet__nav-item">
                                        <a href="AddBookResponsibility" class="btn btn-accent m-btn  m-btn--pill m-btn--icon ">
                                            <span>
                                                
                                            </span>
                                        </a>
                                    </li>
                                    <li class="m-portlet__nav-item"></li>

                                </ul>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <div class="row">
                                <div class="form-group m-form__group  col-md-3">
                                    <label for="" class="">الموقع</label>
                                    @Html.DropDownListFor(x => x.SiteId, ViewBag.Sites as List<SelectListItem>, new { @class = "form-control  m-input", @id = "ddl_sites" })
                                </div>
                                
                                <div class="form-group m-form__group col-md-6">
                                    <label></label>
                                    <div class="">
                                        <button type="button" class="btn btn-outline-info m-btn m-btn--icon " id="btn_searchbtsite">
                                            <span>
                                                <i class="fa flaticon-search"></i>
                                                <span>بحث</span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group m-form__group  col-md-3">
                                    <label for="" class=""></label>
                                    <span id="total"></span>
                                </div>
                            </div>

                            <table class="table table-striped  table-bordered table-hover table-sm" id="m_table_1" role="grid" aria-describedby="m_table_1_info" style="width: 974px;">
                               <thead>
                                   <tr>
                                       <th></th>
                                       <th>كود</th>
                                       <th>اسم الموظف</th>
                                       <th>اسم الموقع</th>
                                       <th>نوع الايصال</th>
                                       <th>رقم الايصال</th>
                                       <th>المبلغ</th>
                                   </tr>
                               </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th class="m-widget24__stats m--font-danger" style="font-weight:bold"> مجموع الايصالات المحدده:</th>
                                        <th ></th>
                                        <th></th>
                                        <th></th>
                                        <th style="font-weight:bold;font-size: 1.75rem" class="m-widget24__stats m--font-danger">0</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions" hidden>
                                <button id="button" >Row count</button>
                                <div id="selectedtotal">test</div>
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                    <!--begin::Portlet-->
                    <div class="m-portlet " id="from_add">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        تسجيل بيانات التوريد
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <!--begin::Form-->
                            @using (Html.BeginForm("addApproveReceipt", "ApproveReceipt", FormMethod.Post, htmlAttributes: new { @id = "myForm", @class = "m-form m-form--label-align-right" }))
                            {
                                @Html.ValidationSummary(true);
                                <div class="m-portlet__body">
                                    <div class="m-form__section m-form__section--first">
                                        <div class="m-form__group form-group row">
                                            <label class="col-lg-2 col-form-label">نوع الايداع</label>
                                            <div class="col-lg-6">
                                                <div class="m-radio-list">
                                                    <label class="m-radio">
                                                        <input type="radio" name="payment_method" value="1" id='radio_1' checked  > ايداع نقدى
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="payment_method" value="2" id='radio_2'> ايداع بنكى
                                                        <span></span>
                                                    </label>
                                                </div>
                                                <span class="m-form__help"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div id="bank" style="display:none" class="form-group m-form__group  col-md-12 ">
                                                <div class="row">
                                                    <div class="form-group m-form__group  col-md-3">
                                                        <label for="" class="">اسم البنك</label>
                                                        @Html.DropDownList("BankName", new SelectList(ViewBag.Banks, "Value", "Text", null) , new { @class= "form-control  m-input" , @id="BankName"})
                                                    </div>
                                                    <div class="form-group m-form__group  col-md-3">
                                                        <label for="" class="">تاريخ الايداع</label>
                                                        <input class="form-control m-input" type="date" name="bankDepositeDate" id="bankDepositeDate" />
                                                    </div>

                                                </div>
                                            </div>

                                            <div id="box" class="form-group m-form__group  col-md-12 ">
                                                <div class="row">
                                                    <div class="form-group m-form__group  col-md-3">
                                                        <label for="" class="">سند القبض</label>
                                                        <input class="form-control m-input" type="text" name="receiptvoucher" id="receiptvoucher" />
                                                    </div>
                                                    <div class="form-group m-form__group  col-md-3">
                                                        <label for="" class="">التاريخ</label>
                                                        <input class="form-control m-input" type="date" name="receiptvoucherDate" id="receiptvoucherDate"  />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group  col-md-12 ">
                                                <div class="row">
                                                    <div class="form-group m-form__group  col-md-12">
                                                        @*<label for="" class="">الايصالات المحددة </label>*@
                                                        <input class="form-control m-input" type="text" id="txt_id" style="color: white; border: none;"   name="receipt_id" readonly />
                                                        <label for="txt_id" class="error field-validation-valid text-danger"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group col-md-6">
                                                <div class="alert alert-danger test" role="alert" style="display:none">
                                                    <strong></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-portlet__foot m-portlet__foot--fit">
                                    <div class="m-form__actions m-form__actions">
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-10">
                                                <button type="submit" class="btn btn-success m-btn--pill " id="submit">حفظ</button>
                                                <button type="button" class="btn btn-danger m-btn--pill" id="reset">مسح</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->
                </div>

            </div>
            
        </div>
    </div>
</main>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>
<script src="~/Content/assets/demo/default/custom/components/base/sweetalert2.js"></script>
<script src="~/Content/assets/demo/default/base/dataTables.select.min.js"></script>

<script>

    function validatedeposite()
    {
     
        if($("#radio_1").is(":checked"))
        {
            $('#receiptvoucher').prop('required', true);
            $('#BankName').removeAttr('required');
        }
        else
        {
            $('#BankName').prop('required', true);
            $('#bankDepositeDate').prop('required', true);
            $('#receiptvoucher').removeAttr('required');
        }
    }

    jQuery(document).ready(function ($) {
        /// check type of payment
        $('#reset').click(function () {
            $("input[type='text']").val('');
        })

        $('#submit').click(function () {
      
            validatedeposite();
            var selectedrow = $('tr').hasClass('selected');
            if(selectedrow == false)
            {
                var myform = $("form").valid();
                txt = "لا يوجد ايصالات محددة";
                $(".test").html(txt).css('display', 'block');
                $("#txt_id").attr("required", "true").attr("data-msg-required", "يجب تحديد الايصالات");
                
            }
            else {
                txt = "";
                $(".test").css('display', 'none');
            }
            
        });

        $('input[type="radio"]').change(function () {
            
            if($("#radio_1").is(":checked"))
            {
                //show box
                $('#bank').css('display', 'none');
                $('#box').css('display', 'block');
                
            }
            else
            {
               // show  bank
                $('#box').css('display', 'none');
                $('#bank').css('display', 'block');
            }
        });
        
        //table first open page
         $('#m_table_1').DataTable({
             "scrollY": 200,
             "scrollX": true,
             "searching": false,
             "language": {
                 "emptyTable": "لاتوجد بيانات"
             }


        });
        //when search click fill table data
        $("#btn_searchbtsite").click(function () {
            loadData();
        });

        function loadData() {
            $.noConflict();

            var sid = $("#ddl_sites").val();

            $("#m_table_1").dataTable().fnDestroy();

            $('#m_table_1').DataTable({

                ////
                "scrollY": 200,
                "scrollX": true,
                "searching": false,
                ajax: {
                    url: '/ApproveReceipt/SomeControllerAction/',
                    data: { Siteid: sid },
                    dataSrc: ''
                },
                columns: [
                    { "defaultContent": "" },
                    { data: "id" },
                    { data: "FirstName"  },
                    { data: "SiteName" },
                    { data: "RecName" },
                    { data: "no" },
                    { data: "Amount" }
                ],
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                    }
                    ,
                {
                    "data": "id",
                    "targets": [ 1 ],
                    "visible": false,
                    }
                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                "language": {
                "emptyTable": "لاتوجد بيانات"
                }

                /////////
            });
        }
        ////////////////
        // sum selected row
        $('#button').click(function () {
            var idOfmarket = [];
            var i = 0;
            var totalSUM = 0;
            $("tbody tr.selected").each(function () {
                
                var getValue = $(this).find("td:eq(5)").html().replace("$", "");
                var filteresValue = getValue.replace(/\,/g, '');
                //idOfmarket[i]= $(this).find("td:eq(0)").html();
                idOfmarket[i] = $("#m_table_1").dataTable().fnGetData(this).id;
                totalSUM += Number(filteresValue)
                console.log(filteresValue);
                i++;
               
            });

            $('#selectedtotal').html(totalSUM);
            $("#txt_id").val(idOfmarket.join(','));
        


        });
        ///////////
        $('#m_table_1').on('click', 'tr', function () {

            $(this).toggleClass('selected');
            $('#button').trigger('click');
            console.log($('tfoot tr > th').eq(11)
                        .html(' ' + $('#selectedtotal').html()));



            //alert( 'Column sum is: '+ table.column( 5 ).data().sum() );
        });
        ////////////

    });


</script>

@if (TempData["Msg"] != null)
{
    if (TempData["Msg"].ToString() == "تم الحفظ بنجاح")
    {
        <script>
            $(function (e) {
                swal({
                    title: "حفظ",
                    text: "تم الحفظ بنجاح",
                    type: "success",
                    confirmButtonClass: "btn btn-success"
                })

            });
        </script>
    }
    else
    {
        <script>
            $(function (e) {
                swal({
                    title: "خطأ",
                    text: "لم يتم الحفظ",
                    type: "error",
                    confirmButtonClass: "btn btn-danger"})
            });
        </script>
        }

    }
