@model IEnumerable<ECBNewWeb.Models.MenuModel>

<!DOCTYPE html>

<html direction="rtl" style="direction: rtl">

<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>ECB</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->
    <!--end::Web font -->
    <!--begin::Global Theme Styles -->
    <link href="~/Content/assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Content/assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/demo/default/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Global Theme Styles -->
    <!--begin::Page Vendors Styles -->
    <link href="~/Content/assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->
    <!--end::Page Vendors Styles -->
    <link rel="shortcut icon" href="~/Content/assets/demo/default/media/img/logo/logotitle.png" />


    <link rel="stylesheet" href="~/Content/assets/demo/default/base/layout_custome_style.css">
</head>
<body>
    @foreach (var Child in Model)
    {
        <div class="m-menu__submenu">
            <span class="m-menu__arrow"></span>
            <ul class="m-menu__subnav">
                <li class="m-menu__item @(ViewContext.RouteData.Values["Action"].ToString() == "AddEmployee" ? "m-menu__item--active" : "") " aria-haspopup="true">
                    <a href="@Url.Action("AddEmployee", "Employees")" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                        <span class="m-menu__link-text">
                            @Child.ArabicName
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    }

</body>
</html>