@{

    //if (Session["userID"] == null)
    //{
    //    Response.Redirect("~/Login/Login");
    //}
    ViewBag.Title = "test";
    ViewBag.Title = "Home Page";
}

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--full-height">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                بنك الشفاء المصرى ... معاً ضد المرض .
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">

                    <!--begin::Section-->
                    <div class="m-accordion m-accordion--default m-accordion--toggle-arrow" id="m_accordion_5" role="tablist">

                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--danger">
                            <div class="m-accordion__item-head" srole="tab" id="m_accordion_5_item_1_head" data-toggle="collapse" href="#m_accordion_5_item_1_body" aria-expanded="true">
                                <span class="m-accordion__item-icon"><i class="fa flaticon-user-ok"></i></span>
                                <span class="m-accordion__item-title">الرؤية</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse show" id="m_accordion_5_item_1_body" role="tabpanel" aria-labelledby="m_accordion_5_item_1_head" data-parent="#m_accordion_5" style="">
                                <div class="m-accordion__item-content">
                                    <p>
                                        أن تكون المؤسسة الأهلية الرائدة فى تحفيز طاقات الخير , وتنسيق الجهود لتوفير العلاج للفئات غير القادرة .
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--info">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_2_head" data-toggle="collapse" href="#m_accordion_5_item_2_body" aria-expanded=" false">
                                <span class="m-accordion__item-icon"><i class="fa  flaticon-notes"></i></span>
                                <span class="m-accordion__item-title">الرسالة</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_2_body" role="tabpanel" aria-labelledby="m_accordion_5_item_2_head" data-parent="#m_accordion_5">
                                <div class="m-accordion__item-content">
                                    <p>
                                       توفير منظومة للرعاية الصحية المجانية للمواطنين غير القادرين على تحمل تكلفة العلاج من أفراد المجتمع المصرى ,إستناداً على خبراتنا فى مجال العمل الخيرى و الصحى , ودعمها بشبكة من احدث النظم التشغيلية والشركات الوطيدة مع الكيانات المعينة بتقديم الخدمة.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="m-accordion__item m-accordion__item--brand">
                            <div class="m-accordion__item-head collapsed" role="tab" id="m_accordion_5_item_3_head" data-toggle="collapse" href="#m_accordion_5_item_3_body" aria-expanded=" false">
                                <span class="m-accordion__item-icon"><i class="fa  flaticon-layers"></i></span>
                                <span class="m-accordion__item-title"> قيمنا</span>
                                <span class="m-accordion__item-mode"></span>
                            </div>
                            <div class="m-accordion__item-body collapse" id="m_accordion_5_item_3_body" role="tabpanel" aria-labelledby="m_accordion_5_item_3_head" data-parent="#m_accordion_5">
                                <div class="m-accordion__item-content">
                                    <p>
                                        - التعاون. - العمل الجماعى. - الإلتزام. - الإخلاص. - التركيز على المستحقين . - المساواة والحيادية
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--end::Item-->
                    </div>

                    <!--end::Section-->
                </div>
            </div>

            <!--end::Portlet-->
        </div>
    </div>
</div>