<div class="">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Portlet-->
            <div class="">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                تعديل ترخيص
                            </h3>
                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("", "", FormMethod.Post))
                {
                    <div class="m-portlet__body">
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">
                                <label for="">اسم الترخيص</label>
                                <input type="text" class="form-control m-input" placeholder="اسم الترخيص">
                                @*@Html.TextBoxFor(m => m.DonorName, new { @class = "form-control m-input" })*@
                                @*@Html.ValidationMessageFor(m => m.DonorName, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ البداية</label>
                                <input type="date" class="form-control m-input">
                                @*@Html.TextBoxFor(m => m.DonorName, new { @class = "form-control m-input" })*@
                                @*@Html.ValidationMessageFor(m => m.DonorName, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group m-form__group col-md-3">
                                <label for="">تاريخ النهاية</label>
                                <input type="date" class="form-control m-input">
                                @*@Html.TextBoxFor(m => m.DonorName, new { @class = "form-control m-input" })*@
                                @*@Html.ValidationMessageFor(m => m.DonorName, "", new { @class = "text-danger" })*@
                            </div>




                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group m-form__group col-md-3">

                                <label class="m-checkbox m-checkbox--state-success ">
                                    <input type="checkbox" checked> حالة الترخيص
                                    <span></span>
                                </label>
                            </div>

                        </div>



                    </div>

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <button id="" class="btn btn-success m-btn--pill " type="submit">
                                        حفظ
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button id="" class="btn btn-danger m-btn--pill" data-dismiss="modal" type="reset">
                                        الغاء
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                }

                <!--end::Form-->
            </div>
            <!--end::Portlet-->
        </div>
    </div>
</div>